doctype html
html
  head
    meta(charset='utf-8')
    title WebP Converter
    link(rel='stylesheet')
  body
    input#js-input(type='file', accept='.jpg,.png,image/jpeg,image/png')
    img#js-image-before
    a#js-download
      img#js-image-after
    script(src='/js/app.js')