<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>webp.herokuapp.com</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body class="background">
    <div class="container container--row">
      <div class="container__item padding">
        <div class="container container--column">
          <div class="container__item">
            <div id="js-drop" class="drop container container--center">
              <input id="js-input" class="input-file" type="file" accept=".jpg,.png,image/jpeg,image/png">
            </div>
          </div>
          <div class="container__item">
            <div class="container container--row">
              <div class="container__item">
                <a id="js-download-before">
                  <img id="js-image-before" width="100%">
                </a>
              </div>
              <div class="container__item">
                <a id="js-download-after">
                  <img id="js-image-after" width="100%">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/app.js"></script>
  </body>
</html>