html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px;
  font-family: Lato, Helvetica, Arial, sans-serif;
}
.background {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.background__image {
  position: absolute;
  top: -50%;
  left: 0;
  width: 200%;
  -webkit-filter: blur(100px);
  z-index: -1;
}
.drop {
  box-sizing: border-box;
  width: 100%;
  height: 300px;
  border: 5px dashed #ccc;
}
.input-file {
  color: #ccc;
  font-size: 48px;
}
.input-file::before {
  display: inline-block;
  content: 'Drag & drop or Click to select a image file!';
  font-size: 48px;
}
.input-file::-webkit-file-upload-button {
  display: none;
}

.container {
  display: flex;
}
.container--column {
  flex-direction: column;
}
.container--row {
  flex-direction: row;
}
.container--center {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.container__item {
  flex-grow: 1;
}
.padding {
  padding: 10px;
}